html, body {
    margin: 0;
    padding: 0;
    background: #aaa;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

h1 {
    width: 100%;
    margin: 10% auto;
    text-align: center;
}

canvas {
    width: 100%;
    image-rendering: pixelated;
}

.card {
    width: 100%;
    background: #fff;
    margin: 24px 0 0;
    box-shadow: 0 1px 4px #555;
    transition: all 1s ease-out, border 0.05s;
}

.card_inline {
    width: 23%;
}

@media (min-width: 600px) {
    .card_inline {
        width: 15%;
    }
}

@media (min-width: 1000px) {
    .card_inline {
        width: 8.5%;
    }
}

@media (min-width: 1300px) {
    .card_inline {
        width: 6%;
    }
}

.card-toolbar {
    list-style: none;
    margin: 0;
    padding: 5%;
    background: #fff;
    display: flex;
    position: relative;
}

.card-toolbar_col {
    flex-grow: 1;
}

.card-toolbar-prediction {
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
    font-weight: 100;
}

.color_prediction-wrong {
    background: #b22438;
}

.color_prediction-correct {
    background: #4a952d;
}

.color_prediction-unset {
    background: #ddd;
}

.card-toolbar-prediction-percentage {
    margin: 0;
    padding: 0;
    font-size: 0.85em;
    text-align: center;
}

.card-toolbar-bar-graph-shell {
    height: 100%;
    background: #ddd;
    display: flex;
}

.card-toolbar-bar-graph {
    background: #555;
    flex-grow: 1;
    align-self: flex-end;
    justify-content: space-between;
}

.card-toolbar-settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #eaeaea;
    height: 100%;
    box-shadow: 0 -1px 1px #aaa;
}

.card_selected {
    box-sizing: border-box;
    border: 10px solid #F44336;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 0 64px;
}

.snackbar {
    position: fixed;
    bottom: 16px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 1em;
    margin: 0 5%;
    font-size: 1em;
    display: inline;
    width: auto;
}


.nav {
    background: #F44336;
    color: #fff;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;
}

.nav-options {
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}

.nav-status {
    display: flex;
    align-items: center;
}

.nav-status-text {
    padding: 0 8px;
}

.nav-options li {
    padding: 4px 8px 0;
    font-size: 1.5em;
}

li.user-icon {
    padding: 0 8px;
}
.user-icon img {
    width: 28px;
    height: 28px;
    border-radius: 100%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    z-index: 9999;
}

.modal-btn-close {
    display: block;
    border: 0;
    font-size: 2em;
    background: transparent;
    margin: 16px;
}

.modal-content {
    width: 90%;
    max-width: 500px;
    background: #fff;
    box-shadow: 0 4px 16px #aaa;
    margin: 16px auto;
    padding: 32px;
    box-sizing: border-box;
    max-height: 85%;
    overflow-y: auto;
}

.modal-content_title {
    margin: 0 0 32px;
    text-align: left;
    font-size: 1.25em;
}

.btn {
    border: none;
    background: transparent;
    padding: 8px;
    font-size: 1em;
    margin: 8px;
    cursor: pointer;
    color: #4285f4;
}

.btn:hover {
    background: #eee;
}

.card_fadeout {
    box-sizing: border-box;
    transform: rotate3d(1, 1, 1, 500deg) scale(0.25);
    opacity: 0.25;
    border: none;
}

.digit-details {
    display: flex;
    padding: 32px 0;
    border-bottom: 1px solid #eee;
}

.digit-details:last-child {
    border: none;
}

.prediction-container {
    list-style: none;
    padding: 0;
    margin: 0;
    align-self: center;
    color: #aaa;
    cursor: pointer;
}

.prediction {
    font-size: 2em;
    text-align: center;
    padding: 8px 0;
    cursor: default;
}

.prediction-wrong {
    color: #b22438;
}

.prediction-correct {
    color: #4a952d;
}

.bar-graph {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    background: #fafafa;
}

.bar-graph li {
    height: 10%;
    background: #F44336;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@keyframes stretch {
    from {
        width: 0%;
    }
}

.digit-details_sample {
    width: 100px;
    height: 100px;
    margin: 0 16px;
}
